/* ==== RESET CSS ==== */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font-family: "Roboto Mono", monospace;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* ==== RESET CSS Ends==== */



/* ==== UTITITY CLASSES ==== */
.secondary-text {
    color: rgb(159, 159, 159)
}

@media (min-width: 768px) {  /* md breakpoint in Bootstrap */
  .bg-md-white {
    background-color: white !important;
  }
}

@media (min-width: 768px) { /* md breakpoint */
  .shadow-md-lg {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  }
}
/* ==== UTITITY CLASSES Ends==== */

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Poppins', sans-serif;

  /* Background gradient */
  background: radial-gradient(
      circle at top left,
      rgba(173, 216, 230, 0.6),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(221, 160, 221, 0.6),
      transparent 40%
    ),
    linear-gradient(
      to bottom right,
      #f0f4f8,
      #e6f0ff
    );

  background-blend-mode: screen;
}

.main-heading {
    font-weight: 500;
    font-size: 2rem;
}


/* ==== Target Card ==== */
.edit-button-container {
    top: 6px;
    right: 10px;
}
.target-card-title {
    font-size: 18px; 
}
.curr-value {
    font-weight: 700;
    font-size: 24px;
}
.unit {
    font-size: 18px;
    font-weight: 500;
}

.divider {
    width: 1px;
    height: 70px; 
    background-color: rgba(201, 201, 201, 0.619);
}

.target-info {
    font-size: 12px; 
    font-weight: 500;
    color: rgb(163, 2, 2); 
}

.reached .target-info{
    color: rgb(1, 107, 1);
}

.no-target .target-info{
    color: rgb(164, 164, 164);
}


.target-info .highlight-value {
    font-weight: 600;
}

.reached .balance-text,
.no-target .balance-text {
  display: none;
}

.completed-text, 
.target-not-set-text {
    display: none;
}

.reached .completed-text, 
.no-target .target-not-set-text {
    display: block;
}

/* ==== Target Card ==== */


/* ==== Food Listing ==== */

.meal-card {
    padding-inline: 20px; 
    padding-block: 28px;
    color: white;
}
.meal-type {
    font-weight: 600;
}
.meal-item {
    font-size: 28px;
}
.meal-quantity {
    font-size: 2.5rem; 
    font-weight: 600;
}
.meal-property li {
    margin-top: 28px;
}
.meal-add-button {
    background-color: rgb(84, 84, 84);
    border: 0;
}
/* ==== Food Listing ==== */


/* ==== Modal ==== */
.goldModal-sublable {
    font-size: 12px;
}


/* Gradients */
.gradient-red {
  background: linear-gradient(135deg, #ff6a6a, #faa074);
}

.gradient-purple {
  background: linear-gradient(135deg, #8e2de2, #4a00e0);
}

.gradient-blue {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

.gradient-indigo {
  background: linear-gradient(135deg, #6a11cb, #2575fc);
}



